<a href="https://colab.research.google.com/github/abel2810/Data-mining-/blob/main/ECLAT_Class_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ECLAT (Equivalence Classs Transformtion)

In [1]:
path='https://raw.githubusercontent.com/tec03/Datasets/main/datasets/eclatEg1.csv'

In [2]:
import pandas as pd

In [37]:
#df=pd.read_csv(path, header =None)
from pyECLAT import Example2
df=Example2().get()
df.head()

,0,1,2,3,4,5,6
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN

In [ ]:
pip install pyECLAT

In [39]:
from pyECLAT import ECLAT as el

In [40]:
ecl=el(data=df)
ecl.df_bin

,green tea,sparkling water,tomato juice,cookies,spinach,clothes accessories,gums,salad,chicken,black tea,...,bramble,whole weat flour,fromage blanc,tea,dessert wine,salmon,eggs,champagne,blueberries,oil
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
3000,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [41]:
items_total=ecl.df_bin.astype(int).sum(axis=0)
items_total

green tea          340
sparkling water     13
tomato juice        56
cookies            231
spinach             25
                  ...
salmon             117
eggs               532
champagne          128
blueberries         26
oil                 71
Length: 119, dtype: int64

In [42]:
df=pd.DataFrame({'items':items_total.index,
                 'transactions':items_total.values})
df

               items  transactions
0          green tea           340
1    sparkling water            13
2       tomato juice            56
3            cookies           231
4            spinach            25
..               ...           ...
114           salmon           117
115             eggs           532
116        champagne           128
117      blueberries            26
118              oil            71

[119 rows x 2 columns]

In [43]:
# Number of items in each transactions
items_per_transaction=ecl.df_bin.astype(int).sum(axis=1)
items_per_transaction

0       7
1       3
2       1
3       2
4       5
       ..
2996    1
2997    2
2998    3
2999    7
3000    5
Length: 3001, dtype: int64

## Implementation ECLAT

In [46]:
min_support=0.001
min_combination=2
max_combination=max(items_per_transaction)

In [47]:
rules_indices, rule_support=ecl.fit(min_support=min_support,
                                   separator='&',
                                   verbose=True,
                                   min_combination=min_combination,

                                   )

Combination 2 by 2

6670it [01:02, 107.46it/s]

Combination 3 by 3

253460it [35:19, 119.60it/s]

In [48]:
result=pd.DataFrame(rule_support.items(),
                     columns=['items','support']
                     )
result.sort_values(by=['support'],ascending=False)
result

                                              items   support
0                            green tea&tomato juice  0.002333
1                                 green tea&cookies  0.010330
2                                    green tea&gums  0.001666
3                                 green tea&chicken  0.008664
4                         green tea&frozen smoothie  0.005998
...                                             ...       ...
2611                  turkey&frozen vegetables&eggs  0.001666
2612  chocolate&frozen vegetables&whole wheat pasta  0.002333
2613               chocolate&frozen vegetables&eggs  0.004332
2614                          chocolate&pepper&eggs  0.001333
2615                       chocolate&eggs&champagne  0.001333

[2616 rows x 2 columns]